html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  background-color: grey;
  background-image: url('./sunset.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
